@using WebUI.Converters
@model Services.Models.ManagerViewModel
@{
    Layout = null;
}

    <tr>
        <td>
            @Html.DisplayFor(model => model.Profession, new { @class = "text-bold" })
        </td>
        <td>
            @Model.CreatedAt.ToString("dd.MM.yyyy")
        </td>
        <td class="text-right">
            @Html.RouteLink("Копировать", new { action = "Copy", managerId = Model.Id })
            @Html.RouteLink("Редактировать", new { action = "PersonalData", managerId = Model.Id })

            @Html.HtmlLink(string.Format("/Resume/Remove/{0}", Model.Id), "<span class='glyphicon glyphicon-remove'></span>Удалить", new { @class="text-danger"}) 
                
            
            @*@Html.RouteLink("Удалить", new { action = "RemoveResume", managerId = Model.Id })*@
        </td>
        <td>
            @Html.HtmlLink(string.Format("/Resume/GetWordDoc/?identifier={0}", Model.Guid), "Word", new { @class = "btn" })
            
            @*<a href="" class="btn">Word</a>*@
            <a href="" class="btn">PDF</a>
        </td>
    </tr>
