@model Services.Models.WorkPlaceModel
@{
    Layout = null;
}

<div class="workplace">
    @Html.HiddenFor(model=>model.Id)
    <div class="form-group">
        <label class="col-md-2 control-label">Место работы*</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Город</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Описание</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Должность*</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Обязанности*</label>

        @Html.EditorFor(model => model.Duties)

            <div class="col-md-10 col-md-offset-2">
                <p id="addDuty" aria-label="Добавить обязанность" class="text-info">
                    <span class="glyphicon glyphicon-plus"></span> Добавить обязанность
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Период*</label>
            <div class="col-md-10">
                <div class="input-daterange input-group datePicker-month" id="datePicker-month">
                    @*<input type="text" class="input-sm form-control" name="start" />*@
                    @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                    <span class="input-group-addon">по</span>
                    @*<input type="text" class="input-sm form-control" placeholder="настоящее время" name="end" />*@
                    @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control", placeholder = "настоящее время" } })
                </div>
            </div>
    </div>
</div>
