@using SmartCV.WebUI.Converters
@model SmartCV.Service.Models.DutyModel
@{
    Layout = null;
}
    <div class="duty">
        @if (Convert.ToInt32(@Html.Index().ToString()) == 0)
        {
            <div class="col-md-9">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.WorkPlaceId)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
                <div class="col-md-8 col-md-offset-2">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.WorkPlaceId)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-1 delete-line">
                    <p class="text-danger remove-duty">
                        <span class="glyphicon glyphicon-remove"></span> Удалить
                    </p>
            </div>
        }
    </div>
