@model SmartCV.Service.Models.ContactAddModel
@{
    ViewBag.Title = "Contacts";
}

<div class="widget box">
    <h2><i class="icon-reorder"></i> Контакты</h2>

    <div class="row">
        <div class="col">
            <form class="form-horizontal" method="POST">
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="email">E-mail*</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control", id="email" } })
                        @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="phone">Телефон*</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", id="phone" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.EditorFor(model => model.Contacts)

                <div class="col-md-10 col-md-offset-2">
                    <p id="addContact" aria-label="Добавить контакт" class="text-info">
                        <span class="glyphicon glyphicon-plus"></span> Добавить контакт
                    </p>
                </div>

                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-2">
                        @Html.RouteLink("Назад", new { action = "PersonalData", controller = "Resume", managerId = ViewBag.ManagerId }, new { @class = "btn btn-default" })
                        @Html.RouteLink("Далее", new { action = "Education", controller = "Resume", managerId = ViewBag.ManagerId }, new { @class = "btn btn-default" })
                        <button class="btn btn-primary">Сохранить</button>
                        <span class="text-success disappearance">@ViewBag.Success</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/dist/jqueryval-bundle.js"></script>
    <script src="~/js/addingData.js"></script>
    <script src="~/js/Views/Contacts.js"></script>
}
