@model SmartCV.Service.Models.WorkPlaceAddModel
@{
    ViewBag.Title = "Опыт работы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget box">
    <h2><i class="icon-reorder"></i> Опыт работы</h2>

    <div class="row">
        <div class="col">
            <form class="form-horizontal" method="POST">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ResumeManagerId)
                @Html.EditorFor(model => model.WorkPlaces)

                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-2">
                        <p id="addWorkPlace" aria-label="Добавить место работы" class="text-info">
                            <span class="glyphicon glyphicon-plus"></span> Добавить место работы
                        </p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-2">
                        @Html.RouteLink("Назад", new { action = "Education", controller = "Resume", managerId = ViewBag.ManagerId }, new { @class = "btn btn-default" })
                        @Html.RouteLink("Далее", new { action = "Certificates", controller = "Resume", managerId = ViewBag.ManagerId }, new { @class = "btn btn-default" })
                        <button class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/dist/jqueryval-bundle.js"></script>
    <script src="~/dist/bootstrap-datepicker-bundle.js"></script>
    <script src="~/js/addingData.js"></script>
    <script src="~/js/Views/WorkExperience.js"></script>
}
