@model Services.Models.InstitutionModel
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="h2 text-center section">Образование</div>
</div>
@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class="text-danger"})

<div class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <label class="col-md-2 control-label">Уч. заведение*</label>
            <div class="col-md-10">
                @*<input type="text" class="form-control" name="name">*@
                @Html.EditorFor(model=>model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model=>model.Name, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Город</label>
            <div class="col-md-10">
                @*<input type="text" class="form-control" name="city" />*@
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Кафедра</label>
            <div class="col-md-10">
                @*<input type="text" class="form-control" name="department" />*@
                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Специальность*</label>
            <div class="col-md-10">
                @*<input type="text" class="form-control" name="speciality" />*@
                @Html.EditorFor(model => model.Specialty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Степень*</label>
            <div class="col-md-10">
                @*<input type="text" class="form-control" name="degree" />*@
                @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Период*</label>
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datePicker">
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">по</span>
                    <input type="text" class="input-sm form-control" placeholder="настоящее время" name="end" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <p id="addInstitution" aria-label="Добавить учебное заведение" class="text-info">
                    <span class="glyphicon glyphicon-plus"></span> Добавить учебное заведение
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <a href="~/Resume/Contacts" class="btn btn-default" >Назад</a>
                <a href="~/Resume/WorkExperience" class="btn btn-default">Далее</a>
                <button class="btn btn-primary">Сохранить</button>
            </div>

        </div>
    </div>
</div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")
    @Scripts.Render("~/Scripts/addingData.js")
}


