@model Services.Models.InstitutionAddModel
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="h2 text-center section">Образование</div>
</div>
<form class="form-horizontal" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ResumeManagerId)
        <div class="row">
            @Html.EditorFor(model => model.Institutions)
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <p id="addInstitution" aria-label="Добавить учебное заведение" class="text-info">
                    <span class="glyphicon glyphicon-plus"></span> Добавить учебное заведение
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                @Html.RouteLink("Назад", new { action = "Contacts", controller = "Resume", managerId = ViewBag.ManagerId }, new { @class = "btn btn-default" })
                @Html.RouteLink("Далее", new { action = "WorkExperience", controller = "Resume", managerId = ViewBag.ManagerId }, new { @class = "btn btn-default" })
                <button class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</form> 

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datePicker")
    @Scripts.Render("~/Scripts/addingData.js")
    @Scripts.Render("~/Scripts/Views/Education.js")
}


