@using WebUI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

        <div class="logo">  Smart<strong>CV</strong></div>
<div class="box">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="content">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h3 class="form-title">Sign In to your Account</h3>
                <div style="display: none;" class="alert fade in alert-danger">
                    <i data-dismiss="alert" class="icon-remove close"></i> Enter any username and password.
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-user"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox pull-left">
                        <div class="checker">
                            <span>
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class="uniform"})
                            </span>
                        </div> Remember me
                    </label>
                    <button class="submit btn btn-primary pull-right" type="submit"> Sign In <i class="icon-angle-right"></i> </button>
                </div>
                @*<form style="display: none;" method="post" action="index.html" class="form-vertical register-form" novalidate="novalidate"> <h3 class="form-title">Sign Up for Free</h3> <div class="form-group"> <div class="input-icon"> <i class="icon-user"></i> <input type="text" data-rule-required="true" autofocus="autofocus" placeholder="Username" class="form-control" name="username"> </div> </div> <div class="form-group"> <div class="input-icon"> <i class="icon-lock"></i> <input type="password" data-rule-required="true" id="register_password" placeholder="Password" class="form-control" name="password"> </div> </div> <div class="form-group"> <div class="input-icon"> <i class="icon-ok"></i> <input type="password" data-rule-equalto="#register_password" data-rule-required="true" placeholder="Confirm Password" class="form-control" name="password_confirm"> </div> </div> <div class="form-group"> <div class="input-icon"> <i class="icon-envelope"></i> <input type="text" data-rule-email="true" data-rule-required="true" placeholder="Email address" class="form-control" name="Email"> </div> </div> <div class="form-group spacing-top"> <label class="checkbox"><div class="checker"><span><input type="checkbox" data-msg-required="Please accept ToS first." data-rule-required="true" name="remember" class="uniform"></span></div> I agree to the <a href="javascript:void(0);">Terms of Service</a></label> <label style="display:none;" generated="true" class="has-error help-block" for="remember"></label> </div> <div class="form-actions"> <button class="back btn btn-default pull-left" type="button"> <i class="icon-angle-left"></i> Back </button> <button class="submit btn btn-primary pull-right" type="submit"> Sign Up <i class="icon-angle-right"></i> </button> </div> </form>*@
            </div>


        }
    </section>
</div>

    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}